/* 
COLORS:

pink: #ff6e7f
light blue: #bfe9ff
*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 10vh;
  background-image: linear-gradient(to right bottom, #efefbb7a, #bfe9ff80),
    url('./img/MAIN-BACKGROUND.jpg');
  background-size: cover;
  background-position: bottom;
  text-align: center;
}

.header__search-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.search-bar input {
  display: inline-block;
  width: 85%;
  height: 30px;
  opacity: 0.8;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 0;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

.search-bar button {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 30px;
  opacity: 0.8;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;
  transition: all .2s;
  backface-visibility: hidden;
}

.search-bar button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2)
}

.search-bar button:active {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2)
}

.heading-primary {
  color: #fff;
  font-family: 'Calligraffitti', serif;
  display: block;
  font-size: 60px;
  backface-visibility: hidden;

  animation-name: moveInDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.search-bar {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  80% {
    transform: translateY(6px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
